# Stock Sentiment Analysis

In [52]:
# Import Libraries
import pandas as pd

In [53]:
# Import Dataset
df = pd.read_csv("E:/Pycharm Projects/Machine_Learning/Stock Price Prediction/data.csv", encoding = "ISO-8859-1")
df.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

In [54]:
# Splitting Data into Train and Test
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20141231']

In [55]:
# Removing Special Characters
data = train.iloc[:, 2:27]
data = data.replace("[^a-zA-Z]", " ", regex = True)

In [56]:
# Renaming columns
new_columns = [str(i) for i in range(0, 25)]
data.columns = new_columns
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title

In [57]:
# Converting Headlines to Lower case
for col in new_columns:
    data[col] = data[col].str.lower()

In [58]:
# Combining All Headlines
Headlines = data["0"]
for i in data.columns[1:25]:
    Headlines = Headlines + " " + data[i]

In [61]:
Headlines = [str(i) for i in Headlines]

## 1. Bag of Words:

In [62]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [63]:
# Bag of words
cv = CountVectorizer(ngram_range = (2,2))
X_train = cv.fit_transform(Headlines)

In [64]:
X_train.shape

(3975, 583890)

In [76]:
#

In [79]:
# Preparing Test Dataset
data_test = test.iloc[:, 2:27]
test_transform = data_test["Top1"]
for i in data_test.columns[1:]:
    test_transform = test_transform + " " + data_test[i]

test_dataset = cv.transform(test_transform)

In [82]:
# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(X_train,train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [83]:
predictions = randomclassifier.predict(test_dataset)

In [84]:
## Performance Metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [85]:
matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[139  47]
 [  7 185]]
0.8571428571428571
              precision    recall  f1-score   support

           0       0.95      0.75      0.84       186
           1       0.80      0.96      0.87       192

    accuracy                           0.86       378
   macro avg       0.87      0.86      0.85       378
weighted avg       0.87      0.86      0.86       378

## 2. TfidfVectorizer:

In [91]:
# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
Tfidf_vectorizer = TfidfVectorizer(ngram_range = (2,2))
X_train = Tfidf_vectorizer.fit_transform(Headlines)
X_test = Tfidf_vectorizer.transform(test_transform)

In [92]:
# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(X_train,train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [94]:
predictions = randomclassifier.predict(X_test)

In [95]:
matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[144  42]
 [ 16 176]]
0.8465608465608465
              precision    recall  f1-score   support

           0       0.90      0.77      0.83       186
           1       0.81      0.92      0.86       192

    accuracy                           0.85       378
   macro avg       0.85      0.85      0.85       378
weighted avg       0.85      0.85      0.85       378

## Bag of words accuracy = 8571
## Tfidf accuracy = 0.8465